*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: #0F0F0F;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;

}
.logo-photo{
    width: 120px;
}
.item{
    margin-right: 10px;
    padding-right: 8px;
    font-size: 18px;
}
.item:hover{
    color: cadetblue;
}
.banner-img{
    width: 300px;

}
.banner-container{
    display: flex;
    justify-content:space-around ;
    height: 100vh;
  background-image: url(color.jpg);
  background-size: cover;
   
    align-items: center;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.banner-text{
    color: beige;
}
.manage{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: beige;
    
    
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.about-on{
    padding: 20px;
    color: rgb(24, 24, 194);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.about-tital{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    
   
}
.box{
    width: 220px;
    height: 270px;
    box-shadow: 4px 4px 15px grey;
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
}
.img-class{
    width: 70px;
    
}
.box-btn{
    background-color: grey;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(15, 15, 15);
}
.Playboy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}
.Houses{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}
